<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doc</title>
</head>
<body>
   {{ $m := .module }}
   {{ $title := .title }}
   <h3>Protocol Document: {{ $title }}</h3>
   {{ range $k,$item := .gateway }}
   <p><a style="display: inline-block;font-size: 18px;-height: 18px;padding: 5px 5px;text-decoration: none;color: #03a9f4;" href="gateway/{{ $k }}">{{ $item.Title }}</a></p>
   {{ end }}
   {{ range $k,$item := .urls }}
   <p><a style="display: inline-block;font-size: 18px;-height: 18px;padding: 5px 5px;text-decoration: none;color: #03a9f4;" href="{{ $m }}/{{ $k }}">{{ $item.Title }}</a></p>
   {{ end }}
</body>
</html>