<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doc</title>
</head>
<body>
   {{ $m := .module }}
   {{ $suf := .suf }}
   {{ $prefix := .prefix }}
    {{ range $k,$item := .gateway }}
    <p><a href="gateway/{{ $k }}{{$suf}}">{{ $item.Title }}</a></p>
    {{ end }}
    {{ range $k,$item := .urls }}
    <p><a href="{{ $m }}/{{ $k }}{{$suf}}">{{ $item.Title }}</a></p>
    {{ end }}
</body>
</html>